@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* MyMoney Color Palette */
  --primary-dark: #233ED9;
  --primary-medium: #263DBF;
  --primary-light: #5F72D9;
  --neutral-light: #F2F2F2;
  --accent-light: #F2B56B;
  --accent-dark: #BF815E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-dark: var(--primary-dark);
  --color-primary-medium: var(--primary-medium);
  --color-primary-light: var(--primary-light);
  --color-neutral-light: var(--neutral-light);
  --color-accent-light: var(--accent-light);
  --color-accent-dark: var(--accent-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
